@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body{
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1{
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
}

h2{
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
    color: brown;
}

pre{
    background-color: beige;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.hor-divider {
    width: 70%;
    height: 5px;
    background-color: #888888;
    margin: 0 5px;
}








.tab{
    margin-left: 30px;
}

